.container {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: [full-start] minmax(6.4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6.4rem, 1fr) [full-end];

    @media only screen and(max-width:$bg-largest) {
        grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8,[col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
    }
    
}