// Colors

//Font color
$color-grey-dark: #777;

$color-primary: #1a1a47;
$color-primary-2 : #11112e ;
$color-footer: #101d2c;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;


// Fonts
$font-primary: 'Quicksand', sans-serif;

$font-title: 'Noto Serif', serif;

// Responsive brakepoints

$bg-largest: 75em; // 1200px /16px = 75em;
$bg-large: 62.5em; //1000px / 16px = 62.5em
$bg-medium: 50em; //800px / 16px = 50em
$bg-small: 37.5em; // 600px / 16px = 37.5em
$bg-xsmall: 31.25em; // 500px / 16 .....